## Database with SQLite

https://pandas.pydata.org/docs/getting_started/comparison/comparison_with_sql.html

Tutorial:

https://docs.python.org/3/library/sqlite3.html

Brian's data sources:
> https://raw.githubusercontent.com/brianmcgatu/sqlite/main/person.csv
> https://raw.githubusercontent.com/brianmcgatu/sqlite/main/car.csv
> https://raw.githubusercontent.com/brianmcgatu/sqlite/main/county.csv

**Some of The Most Important SQL Commands**
+ SELECT - extracts data from a database
+ UPDATE - updates data in a database
+ DELETE - deletes data from a database
+ INSERT INTO - inserts new data into a database
+ CREATE DATABASE - creates a new database
+ ALTER DATABASE - modifies a database
+ CREATE TABLE - creates a new table
+ ALTER TABLE - modifies a table
+ DROP TABLE - deletes a table
+ CREATE INDEX - creates an index (search key)
+ DROP INDEX - deletes an index

In [65]:
import sqlite3

In [66]:
# create blank database
con = sqlite3.connect("tutorial.db") #this creates a blank database
# create a cursor that will interact with the database
cur = con.cursor()

In [67]:
cur.execute("CREATE TABLE person(Name, Address)") # create a table based on the person.csv file
con.commit()#this executes above command

In [68]:
#check what has been created
cur.execute("SELECT name FROM sqlite_master WHERE type='table'") #python runs an SQL command to get the names of the tables
cur.fetchall() #this line retreives and displays the result from above SQL command

[('person',)]

In [69]:
#add data to the database
cur.execute("INSERT INTO person VALUES ('Kathleen Mayer','Westmeath')")
con.commit()

In [70]:
#check what has changed
cur.execute("SELECT * FROM person")
cur.fetchall()

[('Kathleen Mayer', 'Westmeath')]

In [71]:
#delete everything from the table
cur.execute("DELETE FROM person")
con.commit()

In [72]:
# adding multiple values
people = [
    ("Béla gézhe", "Andocs"),
    ("Anyád Szeressen", "Budapest"),
    ("Apád Is", "Babod"),
]
cur.executemany("INSERT INTO person VALUES(?, ?)", people)
con.commit()

In [73]:
cur.execute("SELECT ROWID, name, address FROM person") #ROWID reads out the hidden primary key as well
cur.fetchall()

[(1, 'Béla gézhe', 'Andocs'),
 (2, 'Anyád Szeressen', 'Budapest'),
 (3, 'Apád Is', 'Babod')]

In [74]:
cur.execute("DELETE FROM person WHERE ROWID=5")# delete a specific row by key ID
con.commit()
cur.execute("SELECT ROWID, name, address FROM person") #check what changed
cur.fetchall()

[(1, 'Béla gézhe', 'Andocs'),
 (2, 'Anyád Szeressen', 'Budapest'),
 (3, 'Apád Is', 'Babod')]

In [82]:
# import pandas dataframe into SQLite database
import pandas as pd

In [97]:
cur.execute("SELECT name FROM sqlite_master WHERE type='table'")
cur.fetchall()

[('person',)]

In [94]:
#delete table "person" 
cur.execute("DROP TABLE person")
con.commit()

In [88]:
#read in person csv into a pandas dataframe
person=pd.read_csv("https://raw.githubusercontent.com/brianmcgatu/sqlite/main/person.csv",index_col=0)
person.head()

               Name    Address
ID
1    Kathleen Mayer  Westmeath
2      Ashley Adams    Leitrim
3     Brenda Snyder     Dublin
4   Brenda Morrison    Kildare
5        Linda Ross  Waterford

In [96]:
#add the new pandas dataframe into SQL database
person.to_sql("person",con)

100

In [98]:
#check what changed
cur.execute("SELECT ROWID, name, address FROM person") 
cur.fetchall()

[(1, 'Kathleen Mayer', 'Westmeath'),
 (2, 'Ashley Adams', 'Leitrim'),
 (3, 'Brenda Snyder', 'Dublin'),
 (4, 'Brenda Morrison', 'Kildare'),
 (5, 'Linda Ross', 'Waterford'),
 (6, 'Elizabeth Russell', 'Waterford'),
 (7, 'Haley Obrien', 'Galway'),
 (8, 'Stephanie Burton', 'Tipperary'),
 (9, 'Mark Manning', 'Louth'),
 (10, 'Andrew Mendez', 'Sligo'),
 (11, 'Kristin Barry', 'Meath'),
 (12, 'Jeremy Ware', 'Laois'),
 (13, 'Joshua Lopez', 'Wicklow'),
 (14, 'Mrs. Cindy Powell', 'Cork'),
 (15, 'Cindy Pineda', 'Clare'),
 (16, 'James Santos', 'Cork'),
 (17, 'Eric Hobbs', 'Mayo'),
 (18, 'Jennifer Garcia', 'Kilkenny'),
 (19, 'Susan Perkins', 'Roscommon'),
 (20, 'Michael Smith', 'Cavan'),
 (21, 'Lauren Rodriguez', 'Mayo'),
 (22, 'Daniel Dean', 'Leitrim'),
 (23, 'Heidi Smith', 'Clare'),
 (24, 'Brent Gray', 'Longford'),
 (25, 'Daniel Taylor', 'Offaly'),
 (26, 'David Moore', 'Kerry'),
 (27, 'Andrea Fox', 'Laois'),
 (28, 'Hayley Lewis', 'Roscommon'),
 (29, 'Levi Henry', 'Monaghan'),
 (30, 'Laura Cole', 'Clare'),
 (31, 'Bradley Lowe', 'Donegal'),
 (32, 'Mr. Joshua Horton', 'Longford'),
 (33, 'Whitney Calhoun', 'Galway'),
 (34, 'Jennifer Sellers', 'Louth'),
 (35, 'Christopher Scott', 'Kilkenny'),
 (36, 'Donna Lopez', 'Tipperary'),
 (37, 'Alexis Campbell', 'Donegal'),
 (38, 'Elizabeth Franco', 'Tipperary'),
 (39, 'Benjamin Myers', 'Galway'),
 (40, 'Jonathan Duncan', 'Clare'),
 (41, 'Jose Ruiz', 'Kerry'),
 (42, 'Kelsey Mullins', 'Carlow'),
 (43, 'Karen Martinez', 'Offaly'),
 (44, 'Mark Rodriguez', 'Cork'),
 (45, 'Karen Henderson', 'Roscommon'),
 (46, 'Matthew Bennett', 'Waterford'),
 (47, 'Samuel Glass', 'Offaly'),
 (48, 'Wanda Richards', 'Waterford'),
 (49, 'Ruben Cole', 'Limerick'),
 (50, 'Latoya Gibson', 'Mayo'),
 (51, 'Micheal Ortega', 'Longford'),
 (52, 'Kristen Dunlap', 'Limerick'),
 (53, 'Denise Roy', 'Offaly'),
 (54, 'Wendy Pollard', 'Carlow'),
 (55, 'Rickey Hanson', 'Wexford'),
 (56, 'Gloria Peterson', 'Carlow'),
 (57, 'Tammy Sullivan', 'Meath'),
 (58, 'Francis Brown', 'Offaly'),
 (59, 'Shannon Horne', 'Louth'),
 (60, 'Bryce Stewart', 'Cavan'),
 (61, 'Misty Medina', 'Louth'),
 (62, 'Anna Ruiz', 'Donegal'),
 (63, 'Jessica Ray', 'Mayo'),
 (64, 'Deborah Arnold', 'Clare'),
 (65, 'Jessica White', 'Meath'),
 (66, 'Jenny Norman', 'Wexford'),
 (67, 'David Burch', 'Dublin'),
 (68, 'Amanda Alvarado', 'Waterford'),
 (69, 'Connie Howard', 'Mayo'),
 (70, 'Mary Nunez', 'Mayo'),
 (71, 'Edward Fisher', 'Mayo'),
 (72, 'Jill Johnson', 'Monaghan'),
 (73, 'Mr. Michael Tate', 'Clare'),
 (74, 'Stephanie Ponce', 'Wexford'),
 (75, 'Todd Gonzalez', 'Waterford'),
 (76, 'Amanda Wise', 'Monaghan'),
 (77, 'Tasha Lee', 'Cork'),
 (78, 'Jacqueline Butler', 'Louth'),
 (79, 'Shannon Rich', 'Louth'),
 (80, 'Michael Arias Jr.', 'Leitrim'),
 (81, 'Adam Lowe', 'Clare'),
 (82, 'Scott Campbell', 'Kerry'),
 (83, 'Tina Ford', 'Sligo'),
 (84, 'Mario Matthews', 'Dublin'),
 (85, 'David Morton', 'Meath'),
 (86, 'Susan Campbell', 'Westmeath'),
 (87, 'Sherri Jordan', 'Carlow'),
 (88, 'Laura Nguyen', 'Laois'),
 (89, 'Kevin Rivera', 'Clare'),
 (90, 'Jaclyn Church', 'Leitrim'),
 (91, 'Jason Frazier', 'Meath'),
 (92, 'Gina Meyer', 'Roscommon'),
 (93, 'Roy Brown', 'Leitrim'),
 (94, 'Andrew Foster', 'Tipperary'),
 (95, 'Kelly Stout', 'Carlow'),
 (96, 'Jason Ferguson', 'Laois'),
 (97, 'Daniel Michael', 'Laois'),
 (98, 'Emma Rivera', 'Westmeath'),
 (99, 'Katrina Martin', 'Clare'),
 (100, 'Dominique Russo', 'Westmeath')]

In [100]:
# read in remaininfg csv files to dataframe
county=pd.read_csv("https://raw.githubusercontent.com/brianmcgatu/sqlite/main/county.csv",index_col=0)
car=pd.read_csv("https://raw.githubusercontent.com/brianmcgatu/sqlite/main/car.csv",index_col=0)

In [101]:
#join dataframes to database
car.to_sql("car",con)
county.to_sql("county",con)

26

In [108]:
#check what changed
cur.execute("SELECT * FROM car") 
cur.fetchall()

[(1, 'MH', '18-MH-43626', 80),
 (2, 'MH', '17-MH-32032', 65),
 (3, 'LS', '15-LS-38287', 95),
 (4, 'L', '17-L-14481', 23),
 (5, 'KK', '15-KK-43823', 79),
 (6, 'DL', '18-DL-45373', 17),
 (7, 'LH', '18-LH-16127', 99),
 (8, 'KE', '16-KE-16566', 67),
 (9, 'CN', '13-CN-48257', 98),
 (10, 'W', '15-W-23985', 78),
 (11, 'WW', '15-WW-36677', 45),
 (12, 'OY', '12-OY-44873', 7),
 (13, 'T', '16-T-39909', 44),
 (14, 'KK', '13-KK-45866', 63),
 (15, 'G', '21-G-27162', 74),
 (16, 'D', '17-D-45148', 51),
 (17, 'SO', '12-SO-35882', 62),
 (18, 'CW', '21-CW-37957', 98),
 (19, 'MH', '16-MH-30592', 23),
 (20, 'MH', '16-MH-23285', 27),
 (21, 'MH', '14-MH-46240', 1),
 (22, 'KK', '12-KK-29974', 15),
 (23, 'DL', '12-DL-19444', 84),
 (24, 'OY', '12-OY-30252', 13),
 (25, 'KE', '17-KE-43950', 11),
 (26, 'RN', '19-RN-27470', 100),
 (27, 'LM', '13-LM-39344', 73),
 (28, 'SO', '15-SO-29286', 40),
 (29, 'OY', '11-OY-21919', 7),
 (30, 'SO', '18-SO-14647', 1),
 (31, 'RN', '16-RN-10486', 53),
 (32, 'KK', '12-KK-24377', 86),
 (33, 'CN', '23-CN-16365', 75),
 (34, 'SO', '12-SO-20585', 39),
 (35, 'WX', '14-WX-47696', 98),
 (36, 'OY', '23-OY-16892', 61),
 (37, 'LM', '18-LM-17522', 10),
 (38, 'CN', '13-CN-26985', 27),
 (39, 'T', '23-T-25695', 82),
 (40, 'DL', '12-DL-40071', 63),
 (41, 'CW', '22-CW-44419', 49),
 (42, 'KK', '15-KK-11697', 72),
 (43, 'D', '23-D-48887', 19),
 (44, 'MN', '14-MN-33134', 72),
 (45, 'SO', '15-SO-35445', 98),
 (46, 'WH', '11-WH-31167', 3),
 (47, 'SO', '11-SO-22799', 44),
 (48, 'CW', '18-CW-48283', 80),
 (49, 'MO', '19-MO-15500', 6),
 (50, 'D', '21-D-23298', 8),
 (51, 'LM', '20-LM-16751', 73),
 (52, 'T', '12-T-35160', 83),
 (53, 'L', '13-L-36496', 47),
 (54, 'CN', '16-CN-49369', 55),
 (55, 'WW', '15-WW-29337', 34),
 (56, 'C', '11-C-38485', 52),
 (57, 'DL', '15-DL-13406', 59),
 (58, 'OY', '15-OY-12981', 14),
 (59, 'MN', '15-MN-23767', 29),
 (60, 'W', '14-W-42218', 51),
 (61, 'C', '21-C-35809', 97),
 (62, 'T', '21-T-30809', 55),
 (63, 'SO', '14-SO-18348', 55),
 (64, 'DL', '15-DL-25259', 50),
 (65, 'WH', '10-WH-45260', 86),
 (66, 'C', '22-C-44894', 59),
 (67, 'DL', '19-DL-49259', 5),
 (68, 'SO', '21-SO-46173', 87),
 (69, 'LD', '22-LD-21547', 69),
 (70, 'KK', '20-KK-36627', 36),
 (71, 'C', '23-C-44724', 10),
 (72, 'T', '13-T-39812', 22),
 (73, 'KY', '21-KY-25882', 83),
 (74, 'G', '10-G-14614', 44),
 (75, 'LM', '21-LM-46612', 86),
 (76, 'G', '22-G-16611', 4),
 (77, 'WX', '18-WX-27738', 17),
 (78, 'LM', '15-LM-46480', 64),
 (79, 'C', '21-C-10247', 80),
 (80, 'CN', '12-CN-44952', 51),
 (81, 'LH', '16-LH-38175', 23),
 (82, 'CE', '20-CE-34787', 34),
 (83, 'LH', '22-LH-39583', 91),
 (84, 'WX', '18-WX-46689', 3),
 (85, 'G', '12-G-40124', 94),
 (86, 'SO', '16-SO-44577', 12),
 (87, 'MO', '17-MO-36287', 8),
 (88, 'G', '20-G-19747', 50),
 (89, 'OY', '17-OY-38498', 35),
 (90, 'DL', '19-DL-26024', 98),
 (91, 'LH', '21-LH-22552', 55),
 (92, 'W', '18-W-37753', 94),
 (93, 'G', '11-G-39415', 73),
 (94, 'T', '13-T-17736', 2),
 (95, 'LM', '21-LM-17842', 5),
 (96, 'LH', '16-LH-29780', 85),
 (97, 'OY', '10-OY-22873', 92),
 (98, 'KY', '13-KY-45169', 67),
 (99, 'MO', '20-MO-28472', 60),
 (100, 'D', '18-D-31335', 21),
 (101, 'OY', '15-OY-11308', 14),
 (102, 'MN', '22-MN-42038', 20),
 (103, 'OY', '11-OY-16732', 9),
 (104, 'MO', '19-MO-39786', 5),
 (105, 'RN', '11-RN-30887', 69),
 (106, 'MH', '13-MH-42411', 31),
 (107, 'LM', '12-LM-44563', 19),
 (108, 'MO', '21-MO-30802', 45),
 (109, 'WW', '19-WW-26922', 9),
 (110, 'T', '12-T-13848', 33),
 (111, 'SO', '18-SO-20730', 35),
 (112, 'WH', '12-WH-35820', 82),
 (113, 'DL', '18-DL-34764', 78),
 (114, 'OY', '15-OY-36657', 28),
 (115, 'W', '18-W-29513', 42),
 (116, 'MO', '13-MO-23278', 69),
 (117, 'D', '10-D-29130', 16),
 (118, 'MN', '14-MN-32639', 32),
 (119, 'DL', '20-DL-33076', 36),
 (120, 'G', '15-G-15626', 29),
 (121, 'WX', '18-WX-16149', 43),
 (122, 'SO', '13-SO-34285', 91),
 (123, 'WX', '18-WX-43473', 85),
 (124, 'L', '10-L-32913', 70),
 (125, 'DL', '16-DL-45903', 60),
 (126, 'KY', '23-KY-13388', 62),
 (127, 'KK', '14-KK-32312', 15),
 (128, 'CW', '19-CW-33386', 58),
 (129, 'KK', '12-KK-33581', 82),
 (130, 'LH', '15-LH-44200', 22),
 (131, 'KY', '23-KY-25435', 88),
 (132, 'CW', '22-CW-45463', 33),
 (133, 'T', '18-T-10927', 60),
 (134, 'WH', '12-WH-11935', 63),
 (135, 'LM', '11-LM-33924', 79),
 (136, 'KE', '21-KE-49189', 47),
 (137, 'KE', '10-KE-26289', 51),
 (138, 'RN', '10-RN-44070', 5),
 (139, 'KK', '17-KK-23398', 66),
 (140, 'WX', '19-WX-46895', 78),
 (141, 'LD', '13-LD-10734', 2),
 (142, 'G', '12-G-12721', 77),
 (143, 'LH', '21-LH-15853', 55),
 (144, 'CN', '22-CN-13028', 77),
 (145, 'C', '19-C-12116', 78),
 (146, 'CW', '21-CW-23236', 76),
 (147, 'LM', '15-LM-10510', 98),
 (148, 'MO', '17-MO-26507', 48),
 (149, 'LM', '19-LM-29913', 9),
 (150, 'CW', '22-CW-41399', 42),
 (151, 'D', '22-D-23381', 50),
 (152, 'T', '11-T-14072', 42),
 (153, 'MO', '10-MO-35287', 83),
 (154, 'RN', '21-RN-42692', 90),
 (155, 'WW', '17-WW-25659', 7),
 (156, 'W', '23-W-11270', 49),
 (157, 'G', '14-G-32723', 65),
 (158, 'LM', '12-LM-27765', 33),
 (159, 'LS', '19-LS-22129', 14),
 (160, 'SO', '12-SO-38874', 41),
 (161, 'T', '11-T-22706', 20),
 (162, 'WH', '21-WH-36358', 22),
 (163, 'WW', '19-WW-47254', 27),
 (164, 'LH', '22-LH-40841', 31),
 (165, 'SO', '14-SO-48288', 13),
 (166, 'KK', '11-KK-47829', 89),
 (167, 'MN', '22-MN-39564', 68),
 (168, 'MO', '23-MO-13650', 46),
 (169, 'C', '22-C-20448', 78),
 (170, 'KK', '13-KK-45621', 60),
 (171, 'MO', '14-MO-16919', 52),
 (172, 'T', '16-T-46733', 57),
 (173, 'MN', '18-MN-22373', 76),
 (174, 'CN', '13-CN-24327', 18),
 (175, 'G', '14-G-20502', 88),
 (176, 'MN', '13-MN-22707', 94),
 (177, 'LS', '13-LS-49695', 100),
 (178, 'MN', '22-MN-49504', 95),
 (179, 'CN', '21-CN-15529', 35),
 (180, 'D', '21-D-43298', 79),
 (181, 'KK', '15-KK-16264', 64),
 (182, 'KE', '20-KE-46557', 10),
 (183, 'KE', '10-KE-35968', 61),
 (184, 'W', '11-W-34668', 47),
 (185, 'MO', '23-MO-18106', 81),
 (186, 'KE', '23-KE-44450', 13),
 (187, 'CN', '11-CN-30450', 78),
 (188, 'DL', '18-DL-19278', 64),
 (189, 'KY', '23-KY-22440', 42),
 (190, 'DL', '11-DL-12553', 34),
 (191, 'WW', '20-WW-12068', 14),
 (192, 'WH', '11-WH-49366', 43),
 (193, 'LM', '16-LM-49944', 52),
 (194, 'W', '19-W-30528', 47),
 (195, 'C', '12-C-45845', 58),
 (196, 'OY', '11-OY-30814', 56),
 (197, 'WW', '22-WW-22647', 78),
 (198, 'KE', '18-KE-46605', 58),
 (199, 'SO', '20-SO-47562', 31),
 (200, 'KY', '17-KY-15539', 84),
 (201, 'LS', '18-LS-25103', 4),
 (202, 'L', '23-L-17557', 29),
 (203, 'OY', '14-OY-44221', 62),
 (204, 'WW', '20-WW-13625', 3),
 (205, 'LD', '17-LD-34384', 64),
 (206, 'WH', '12-WH-11018', 77),
 (207, 'W', '18-W-12699', 84),
 (208, 'SO', '23-SO-31662', 43),
 (209, 'DL', '11-DL-19159', 95),
 (210, 'T', '22-T-12364', 99),
 (211, 'CN', '14-CN-34073', 92),
 (212, 'DL', '20-DL-20298', 71),
 (213, 'OY', '21-OY-41617', 31),
 (214, 'SO', '22-SO-19621', 62),
 (215, 'LM', '13-LM-32610', 71),
 (216, 'MO', '11-MO-21289', 43),
 (217, 'C', '21-C-18707', 83),
 (218, 'W', '20-W-45410', 14),
 (219, 'CE', '23-CE-31296', 87),
 (220, 'G', '20-G-25741', 65),
 (221, 'G', '14-G-41214', 51),
 (222, 'SO', '12-SO-22647', 89),
 (223, 'MO', '14-MO-24482', 46),
 (224, 'KE', '18-KE-11719', 45),
 (225, 'LH', '11-LH-17226', 50),
 (226, 'CN', '21-CN-29537', 96),
 (227, 'WX', '15-WX-12490', 54),
 (228, 'CN', '18-CN-45544', 43),
 (229, 'LD', '13-LD-39677', 63),
 (230, 'SO', '21-SO-27205', 22),
 (231, 'CN', '10-CN-22989', 15),
 (232, 'WX', '18-WX-33597', 69),
 (233, 'MN', '21-MN-25350', 86),
 (234, 'RN', '19-RN-10769', 34),
 (235, 'KE', '11-KE-30678', 11),
 (236, 'OY', '10-OY-45482', 93),
 (237, 'LM', '14-LM-41454', 75),
 (238, 'KE', '22-KE-13660', 96),
 (239, 'LM', '14-LM-47798', 66),
 (240, 'OY', '17-OY-42672', 56),
 (241, 'L', '22-L-29250', 36),
 (242, 'KY', '19-KY-43716', 24),
 (243, 'SO', '21-SO-10623', 80),
 (244, 'DL', '15-DL-41712', 86),
 (245, 'LH', '14-LH-25123', 1),
 (246, 'L', '10-L-12690', 16),
 (247, 'LM', '20-LM-44217', 49),
 (248, 'CW', '15-CW-12902', 32),
 (249, 'KK', '13-KK-25313', 4),
 (250, 'LD', '22-LD-11076', 98),
 (251, 'C', '20-C-48716', 64),
 (252, 'SO', '20-SO-12182', 92),
 (253, 'MN', '13-MN-27235', 25),
 (254, 'OY', '17-OY-20389', 23),
 (255, 'CE', '22-CE-19174', 83),
 (256, 'LM', '11-LM-42196', 27),
 (257, 'MH', '19-MH-26964', 4),
 (258, 'WW', '12-WW-29799', 30),
 (259, 'WX', '16-WX-14386', 62),
 (260, 'G', '14-G-25952', 59),
 (261, 'KY', '14-KY-22838', 58),
 (262, 'MH', '22-MH-18623', 61),
 (263, 'W', '15-W-12973', 46),
 (264, 'LH', '20-LH-32905', 13),
 (265, 'L', '22-L-29163', 74),
 (266, 'G', '15-G-43586', 38),
 (267, 'CW', '17-CW-40204', 62),
 (268, 'L', '20-L-14741', 68),
 (269, 'WX', '22-WX-21255', 90),
 (270, 'MN', '12-MN-41816', 86),
 (271, 'KE', '13-KE-49240', 80),
 (272, 'L', '10-L-28112', 24),
 (273, 'CN', '23-CN-45509', 16),
 (274, 'RN', '15-RN-44683', 9),
 (275, 'MO', '18-MO-21772', 22),
 (276, 'RN', '13-RN-48458', 79),
 (277, 'CN', '11-CN-21207', 55),
 (278, 'T', '10-T-48323', 59),
 (279, 'MN', '15-MN-25206', 67),
 (280, 'WH', '23-WH-20809', 25)]

In [110]:
# check what tables I have in the database
cur.execute("SELECT name FROM sqlite_master WHERE type='table'")
cur.fetchall()

[('person',), ('car',), ('county',)]

In [113]:
#Merging data accross tables
cur.execute("""
SELECT p.Name, c.Registration, p.Address
            FROM person as p JOIN car as c ON p.ID =c.ID_Owner
            """)
cur.fetchall()

[('Michael Arias Jr.', '18-MH-43626', 'Leitrim'),
 ('Jessica White', '17-MH-32032', 'Meath'),
 ('Kelly Stout', '15-LS-38287', 'Carlow'),
 ('Heidi Smith', '17-L-14481', 'Clare'),
 ('Shannon Rich', '15-KK-43823', 'Louth'),
 ('Eric Hobbs', '18-DL-45373', 'Mayo'),
 ('Katrina Martin', '18-LH-16127', 'Clare'),
 ('David Burch', '16-KE-16566', 'Dublin'),
 ('Emma Rivera', '13-CN-48257', 'Westmeath'),
 ('Jacqueline Butler', '15-W-23985', 'Louth'),
 ('Karen Henderson', '15-WW-36677', 'Roscommon'),
 ('Haley Obrien', '12-OY-44873', 'Galway'),
 ('Mark Rodriguez', '16-T-39909', 'Cork'),
 ('Jessica Ray', '13-KK-45866', 'Mayo'),
 ('Stephanie Ponce', '21-G-27162', 'Wexford'),
 ('Micheal Ortega', '17-D-45148', 'Longford'),
 ('Anna Ruiz', '12-SO-35882', 'Donegal'),
 ('Emma Rivera', '21-CW-37957', 'Westmeath'),
 ('Heidi Smith', '16-MH-30592', 'Clare'),
 ('Andrea Fox', '16-MH-23285', 'Laois'),
 ('Kathleen Mayer', '14-MH-46240', 'Westmeath'),
 ('Cindy Pineda', '12-KK-29974', 'Clare'),
 ('Mario Matthews', '12-DL-19444', 'Dublin'),
 ('Joshua Lopez', '12-OY-30252', 'Wicklow'),
 ('Kristin Barry', '17-KE-43950', 'Meath'),
 ('Dominique Russo', '19-RN-27470', 'Westmeath'),
 ('Mr. Michael Tate', '13-LM-39344', 'Clare'),
 ('Jonathan Duncan', '15-SO-29286', 'Clare'),
 ('Haley Obrien', '11-OY-21919', 'Galway'),
 ('Kathleen Mayer', '18-SO-14647', 'Westmeath'),
 ('Denise Roy', '16-RN-10486', 'Offaly'),
 ('Susan Campbell', '12-KK-24377', 'Westmeath'),
 ('Todd Gonzalez', '23-CN-16365', 'Waterford'),
 ('Benjamin Myers', '12-SO-20585', 'Galway'),
 ('Emma Rivera', '14-WX-47696', 'Westmeath'),
 ('Misty Medina', '23-OY-16892', 'Louth'),
 ('Andrew Mendez', '18-LM-17522', 'Sligo'),
 ('Andrea Fox', '13-CN-26985', 'Laois'),
 ('Scott Campbell', '23-T-25695', 'Kerry'),
 ('Jessica Ray', '12-DL-40071', 'Mayo'),
 ('Ruben Cole', '22-CW-44419', 'Limerick'),
 ('Jill Johnson', '15-KK-11697', 'Monaghan'),
 ('Susan Perkins', '23-D-48887', 'Roscommon'),
 ('Jill Johnson', '14-MN-33134', 'Monaghan'),
 ('Emma Rivera', '15-SO-35445', 'Westmeath'),
 ('Brenda Snyder', '11-WH-31167', 'Dublin'),
 ('Mark Rodriguez', '11-SO-22799', 'Cork'),
 ('Michael Arias Jr.', '18-CW-48283', 'Leitrim'),
 ('Elizabeth Russell', '19-MO-15500', 'Waterford'),
 ('Stephanie Burton', '21-D-23298', 'Tipperary'),
 ('Mr. Michael Tate', '20-LM-16751', 'Clare'),
 ('Tina Ford', '12-T-35160', 'Sligo'),
 ('Samuel Glass', '13-L-36496', 'Offaly'),
 ('Rickey Hanson', '16-CN-49369', 'Wexford'),
 ('Jennifer Sellers', '15-WW-29337', 'Louth'),
 ('Kristen Dunlap', '11-C-38485', 'Limerick'),
 ('Shannon Horne', '15-DL-13406', 'Louth'),
 ('Mrs. Cindy Powell', '15-OY-12981', 'Cork'),
 ('Levi Henry', '15-MN-23767', 'Monaghan'),
 ('Micheal Ortega', '14-W-42218', 'Longford'),
 ('Daniel Michael', '21-C-35809', 'Laois'),
 ('Rickey Hanson', '21-T-30809', 'Wexford'),
 ('Rickey Hanson', '14-SO-18348', 'Wexford'),
 ('Latoya Gibson', '15-DL-25259', 'Mayo'),
 ('Susan Campbell', '10-WH-45260', 'Westmeath'),
 ('Shannon Horne', '22-C-44894', 'Louth'),
 ('Linda Ross', '19-DL-49259', 'Waterford'),
 ('Sherri Jordan', '21-SO-46173', 'Carlow'),
 ('Connie Howard', '22-LD-21547', 'Mayo'),
 ('Donna Lopez', '20-KK-36627', 'Tipperary'),
 ('Andrew Mendez', '23-C-44724', 'Sligo'),
 ('Daniel Dean', '13-T-39812', 'Leitrim'),
 ('Tina Ford', '21-KY-25882', 'Sligo'),
 ('Mark Rodriguez', '10-G-14614', 'Cork'),
 ('Susan Campbell', '21-LM-46612', 'Westmeath'),
 ('Brenda Morrison', '22-G-16611', 'Kildare'),
 ('Eric Hobbs', '18-WX-27738', 'Mayo'),
 ('Deborah Arnold', '15-LM-46480', 'Clare'),
 ('Michael Arias Jr.', '21-C-10247', 'Leitrim'),
 ('Micheal Ortega', '12-CN-44952', 'Longford'),
 ('Heidi Smith', '16-LH-38175', 'Clare'),
 ('Jennifer Sellers', '20-CE-34787', 'Louth'),
 ('Jason Frazier', '22-LH-39583', 'Meath'),
 ('Brenda Snyder', '18-WX-46689', 'Dublin'),
 ('Andrew Foster', '12-G-40124', 'Tipperary'),
 ('Jeremy Ware', '16-SO-44577', 'Laois'),
 ('Stephanie Burton', '17-MO-36287', 'Tipperary'),
 ('Latoya Gibson', '20-G-19747', 'Mayo'),
 ('Christopher Scott', '17-OY-38498', 'Kilkenny'),
 ('Emma Rivera', '19-DL-26024', 'Westmeath'),
 ('Rickey Hanson', '21-LH-22552', 'Wexford'),
 ('Andrew Foster', '18-W-37753', 'Tipperary'),
 ('Mr. Michael Tate', '11-G-39415', 'Clare'),
 ('Ashley Adams', '13-T-17736', 'Leitrim'),
 ('Linda Ross', '21-LM-17842', 'Waterford'),
 ('David Morton', '16-LH-29780', 'Meath'),
 ('Gina Meyer', '10-OY-22873', 'Roscommon'),
 ('David Burch', '13-KY-45169', 'Dublin'),
 ('Bryce Stewart', '20-MO-28472', 'Cavan'),
 ('Lauren Rodriguez', '18-D-31335', 'Mayo'),
 ('Mrs. Cindy Powell', '15-OY-11308', 'Cork'),
 ('Michael Smith', '22-MN-42038', 'Cavan'),
 ('Mark Manning', '11-OY-16732', 'Louth'),
 ('Linda Ross', '19-MO-39786', 'Waterford'),
 ('Connie Howard', '11-RN-30887', 'Mayo'),
 ('Bradley Lowe', '13-MH-42411', 'Donegal'),
 ('Susan Perkins', '12-LM-44563', 'Roscommon'),
 ('Karen Henderson', '21-MO-30802', 'Roscommon'),
 ('Mark Manning', '19-WW-26922', 'Louth'),
 ('Whitney Calhoun', '12-T-13848', 'Galway'),
 ('Christopher Scott', '18-SO-20730', 'Kilkenny'),
 ('Scott Campbell', '12-WH-35820', 'Kerry'),
 ('Jacqueline Butler', '18-DL-34764', 'Louth'),
 ('Hayley Lewis', '15-OY-36657', 'Roscommon'),
 ('Kelsey Mullins', '18-W-29513', 'Carlow'),
 ('Connie Howard', '13-MO-23278', 'Mayo'),
 ('James Santos', '10-D-29130', 'Cork'),
 ('Mr. Joshua Horton', '14-MN-32639', 'Longford'),
 ('Donna Lopez', '20-DL-33076', 'Tipperary'),
 ('Levi Henry', '15-G-15626', 'Monaghan'),
 ('Karen Martinez', '18-WX-16149', 'Offaly'),
 ('Jason Frazier', '13-SO-34285', 'Meath'),
 ('David Morton', '18-WX-43473', 'Meath'),
 ('Mary Nunez', '10-L-32913', 'Mayo'),
 ('Bryce Stewart', '16-DL-45903', 'Cavan'),
 ('Anna Ruiz', '23-KY-13388', 'Donegal'),
 ('Cindy Pineda', '14-KK-32312', 'Clare'),
 ('Francis Brown', '19-CW-33386', 'Offaly'),
 ('Scott Campbell', '12-KK-33581', 'Kerry'),
 ('Daniel Dean', '15-LH-44200', 'Leitrim'),
 ('Laura Nguyen', '23-KY-25435', 'Laois'),
 ('Whitney Calhoun', '22-CW-45463', 'Galway'),
 ('Bryce Stewart', '18-T-10927', 'Cavan'),
 ('Jessica Ray', '12-WH-11935', 'Mayo'),
 ('Shannon Rich', '11-LM-33924', 'Louth'),
 ('Samuel Glass', '21-KE-49189', 'Offaly'),
 ('Micheal Ortega', '10-KE-26289', 'Longford'),
 ('Linda Ross', '10-RN-44070', 'Waterford'),
 ('Jenny Norman', '17-KK-23398', 'Wexford'),
 ('Jacqueline Butler', '19-WX-46895', 'Louth'),
 ('Ashley Adams', '13-LD-10734', 'Leitrim'),
 ('Tasha Lee', '12-G-12721', 'Cork'),
 ('Rickey Hanson', '21-LH-15853', 'Wexford'),
 ('Tasha Lee', '22-CN-13028', 'Cork'),
 ('Jacqueline Butler', '19-C-12116', 'Louth'),
 ('Amanda Wise', '21-CW-23236', 'Monaghan'),
 ('Emma Rivera', '15-LM-10510', 'Westmeath'),
 ('Wanda Richards', '17-MO-26507', 'Waterford'),
 ('Mark Manning', '19-LM-29913', 'Louth'),
 ('Kelsey Mullins', '22-CW-41399', 'Carlow'),
 ('Latoya Gibson', '22-D-23381', 'Mayo'),
 ('Kelsey Mullins', '11-T-14072', 'Carlow'),
 ('Tina Ford', '10-MO-35287', 'Sligo'),
 ('Jaclyn Church', '21-RN-42692', 'Leitrim'),
 ('Haley Obrien', '17-WW-25659', 'Galway'),
 ('Ruben Cole', '23-W-11270', 'Limerick'),
 ('Jessica White', '14-G-32723', 'Meath'),
 ('Whitney Calhoun', '12-LM-27765', 'Galway'),
 ('Mrs. Cindy Powell', '19-LS-22129', 'Cork'),
 ('Jose Ruiz', '12-SO-38874', 'Kerry'),
 ('Michael Smith', '11-T-22706', 'Cavan'),
 ('Daniel Dean', '21-WH-36358', 'Leitrim'),
 ('Andrea Fox', '19-WW-47254', 'Laois'),
 ('Bradley Lowe', '22-LH-40841', 'Donegal'),
 ('Joshua Lopez', '14-SO-48288', 'Wicklow'),
 ('Kevin Rivera', '11-KK-47829', 'Clare'),
 ('Amanda Alvarado', '22-MN-39564', 'Waterford'),
 ('Matthew Bennett', '23-MO-13650', 'Waterford'),
 ('Jacqueline Butler', '22-C-20448', 'Louth'),
 ('Bryce Stewart', '13-KK-45621', 'Cavan'),
 ('Kristen Dunlap', '14-MO-16919', 'Limerick'),
 ('Tammy Sullivan', '16-T-46733', 'Meath'),
 ('Amanda Wise', '18-MN-22373', 'Monaghan'),
 ('Jennifer Garcia', '13-CN-24327', 'Kilkenny'),
 ('Laura Nguyen', '14-G-20502', 'Laois'),
 ('Andrew Foster', '13-MN-22707', 'Tipperary'),
 ('Dominique Russo', '13-LS-49695', 'Westmeath'),
 ('Kelly Stout', '22-MN-49504', 'Carlow'),
 ('Christopher Scott', '21-CN-15529', 'Kilkenny'),
 ('Shannon Rich', '21-D-43298', 'Louth'),
 ('Deborah Arnold', '15-KK-16264', 'Clare'),
 ('Andrew Mendez', '20-KE-46557', 'Sligo'),
 ('Misty Medina', '10-KE-35968', 'Louth'),
 ('Samuel Glass', '11-W-34668', 'Offaly'),
 ('Adam Lowe', '23-MO-18106', 'Clare'),
 ('Joshua Lopez', '23-KE-44450', 'Wicklow'),
 ('Jacqueline Butler', '11-CN-30450', 'Louth'),
 ('Deborah Arnold', '18-DL-19278', 'Clare'),
 ('Kelsey Mullins', '23-KY-22440', 'Carlow'),
 ('Jennifer Sellers', '11-DL-12553', 'Louth'),
 ('Mrs. Cindy Powell', '20-WW-12068', 'Cork'),
 ('Karen Martinez', '11-WH-49366', 'Offaly'),
 ('Kristen Dunlap', '16-LM-49944', 'Limerick'),
 ('Samuel Glass', '19-W-30528', 'Offaly'),
 ('Francis Brown', '12-C-45845', 'Offaly'),
 ('Gloria Peterson', '11-OY-30814', 'Carlow'),
 ('Jacqueline Butler', '22-WW-22647', 'Louth'),
 ('Francis Brown', '18-KE-46605', 'Offaly'),
 ('Bradley Lowe', '20-SO-47562', 'Donegal'),
 ('Mario Matthews', '17-KY-15539', 'Dublin'),
 ('Brenda Morrison', '18-LS-25103', 'Kildare'),
 ('Levi Henry', '23-L-17557', 'Monaghan'),
 ('Anna Ruiz', '14-OY-44221', 'Donegal'),
 ('Brenda Snyder', '20-WW-13625', 'Dublin'),
 ('Deborah Arnold', '17-LD-34384', 'Clare'),
 ('Tasha Lee', '12-WH-11018', 'Cork'),
 ('Mario Matthews', '18-W-12699', 'Dublin'),
 ('Karen Martinez', '23-SO-31662', 'Offaly'),
 ('Kelly Stout', '11-DL-19159', 'Carlow'),
 ('Katrina Martin', '22-T-12364', 'Clare'),
 ('Gina Meyer', '14-CN-34073', 'Roscommon'),
 ('Edward Fisher', '20-DL-20298', 'Mayo'),
 ('Bradley Lowe', '21-OY-41617', 'Donegal'),
 ('Anna Ruiz', '22-SO-19621', 'Donegal'),
 ('Edward Fisher', '13-LM-32610', 'Mayo'),
 ('Karen Martinez', '11-MO-21289', 'Offaly'),
 ('Tina Ford', '21-C-18707', 'Sligo'),
 ('Mrs. Cindy Powell', '20-W-45410', 'Cork'),
 ('Sherri Jordan', '23-CE-31296', 'Carlow'),
 ('Jessica White', '20-G-25741', 'Meath'),
 ('Micheal Ortega', '14-G-41214', 'Longford'),
 ('Kevin Rivera', '12-SO-22647', 'Clare'),
 ('Matthew Bennett', '14-MO-24482', 'Waterford'),
 ('Karen Henderson', '18-KE-11719', 'Roscommon'),
 ('Latoya Gibson', '11-LH-17226', 'Mayo'),
 ('Jason Ferguson', '21-CN-29537', 'Laois'),
 ('Wendy Pollard', '15-WX-12490', 'Carlow'),
 ('Karen Martinez', '18-CN-45544', 'Offaly'),
 ('Jessica Ray', '13-LD-39677', 'Mayo'),
 ('Daniel Dean', '21-SO-27205', 'Leitrim'),
 ('Cindy Pineda', '10-CN-22989', 'Clare'),
 ('Connie Howard', '18-WX-33597', 'Mayo'),
 ('Susan Campbell', '21-MN-25350', 'Westmeath'),
 ('Jennifer Sellers', '19-RN-10769', 'Louth'),
 ('Kristin Barry', '11-KE-30678', 'Meath'),
 ('Roy Brown', '10-OY-45482', 'Leitrim'),
 ('Todd Gonzalez', '14-LM-41454', 'Waterford'),
 ('Jason Ferguson', '22-KE-13660', 'Laois'),
 ('Jenny Norman', '14-LM-47798', 'Wexford'),
 ('Gloria Peterson', '17-OY-42672', 'Carlow'),
 ('Donna Lopez', '22-L-29250', 'Tipperary'),
 ('Brent Gray', '19-KY-43716', 'Longford'),
 ('Michael Arias Jr.', '21-SO-10623', 'Leitrim'),
 ('Susan Campbell', '15-DL-41712', 'Westmeath'),
 ('Kathleen Mayer', '14-LH-25123', 'Westmeath'),
 ('James Santos', '10-L-12690', 'Cork'),
 ('Ruben Cole', '20-LM-44217', 'Limerick'),
 ('Mr. Joshua Horton', '15-CW-12902', 'Longford'),
 ('Brenda Morrison', '13-KK-25313', 'Kildare'),
 ('Emma Rivera', '22-LD-11076', 'Westmeath'),
 ('Deborah Arnold', '20-C-48716', 'Clare'),
 ('Gina Meyer', '20-SO-12182', 'Roscommon'),
 ('Daniel Taylor', '13-MN-27235', 'Offaly'),
 ('Heidi Smith', '17-OY-20389', 'Clare'),
 ('Tina Ford', '22-CE-19174', 'Sligo'),
 ('Andrea Fox', '11-LM-42196', 'Laois'),
 ('Brenda Morrison', '19-MH-26964', 'Kildare'),
 ('Laura Cole', '12-WW-29799', 'Clare'),
 ('Anna Ruiz', '16-WX-14386', 'Donegal'),
 ('Shannon Horne', '14-G-25952', 'Louth'),
 ('Francis Brown', '14-KY-22838', 'Offaly'),
 ('Misty Medina', '22-MH-18623', 'Louth'),
 ('Matthew Bennett', '15-W-12973', 'Waterford'),
 ('Joshua Lopez', '20-LH-32905', 'Wicklow'),
 ('Stephanie Ponce', '22-L-29163', 'Wexford'),
 ('Elizabeth Franco', '15-G-43586', 'Tipperary'),
 ('Anna Ruiz', '17-CW-40204', 'Donegal'),
 ('Amanda Alvarado', '20-L-14741', 'Waterford'),
 ('Jaclyn Church', '22-WX-21255', 'Leitrim'),
 ('Susan Campbell', '12-MN-41816', 'Westmeath'),
 ('Michael Arias Jr.', '13-KE-49240', 'Leitrim'),
 ('Brent Gray', '10-L-28112', 'Longford'),
 ('James Santos', '23-CN-45509', 'Cork'),
 ('Mark Manning', '15-RN-44683', 'Louth'),
 ('Daniel Dean', '18-MO-21772', 'Leitrim'),
 ('Shannon Rich', '13-RN-48458', 'Louth'),
 ('Rickey Hanson', '11-CN-21207', 'Wexford'),
 ('Shannon Horne', '10-T-48323', 'Louth'),
 ('David Burch', '15-MN-25206', 'Dublin'),
 ('Daniel Taylor', '23-WH-20809', 'Offaly')]

In [114]:
# always close the connection to the database when finished
con.close()

In [118]:
#reopen database as new connection
new_con = sqlite3.connect("tutorial.db") # connect to database
cur = new_con.cursor() # initialise cursor in the new connection

In [119]:
cur.execute("SELECT name FROM sqlite_master WHERE type='table'")
cur.fetchall()

[('person',), ('car',), ('county',)]

In [ ]:
# always close the connection to the database when finished
con.close()